@import '../../styles/main.scss';
.spacex-button-component {
	border-radius: $spacex-spacing-1;
	border: none;
	padding: $spacex-spacing-2;
	cursor: pointer;
	background-color: $spacex-color-secondary-green;
	outline: none;
	height: 35px;
	margin: $spacex-spacing-2 $spacex-spacing-3;
	width: 46%;
	@include margin($spacex-spacing-2, $spacex-spacing-2, $spacex-spacing-2, 0);
	font-size: $spacex-body-font-size-medium;
	@media only screen and (min-width: $spacex-breakpoint-tablet) {
	}

	&:nth-child(even) {
		margin-right: 0;
		margin-left: 0;
	}
	&.selected {
		background-color: $spacex-color-primary-green;
	}
}
