@import '../../styles/main.scss';
.spacex-button-component {
	border-radius: $spacex-spacing-1;
	border: none;
	padding: $spacex-spacing-2;
	font-size: $spacex-body-font-size-medium;
	font-weight: $spacex-font-weight-bold;
	cursor: pointer;
	background-color: $spacex-color-secondary-green;
	height: 35px;
	width: 100px;
	margin: $spacex-spacing-2 $spacex-spacing-3;
	outline: none;
}
