// base
$spacex-color-white: #ffffff;
$spacex-color-black: #000000;

// green
$spacex-color-primary-green: rgb(63, 105, 47); // #3f692f;
$spacex-color-secondary-green: rgb(138, 168, 116); // #8aa874;

// grey
$spacex-background-grey: rgb(199, 197, 193); // #c7c5c1;

// red
$spacex-color-red: #d82325;
