// base
$spacex-color-white: #ffffff;
$spacex-color-white-1: #f7f7f7;
$spacex-color-black: #000000;



// green
$spacex-color-primary-green: rgb(107, 176, 8); // #6baf08;
$spacex-color-secondary-green: rgb(185,220,37); // #b9dc25;

// grey 
$background-grey: rgb(199,197,193); // #c7c5c1;

// red
$spacex-color-red: #d82325;
