$spacex-spacer: 8px !default;

$spacex-spacing-1: $spacex-spacer * 0.5; // 4px
$spacex-spacing-2: $spacex-spacer * 1; // 8px
$spacex-spacing-3: $spacex-spacer * 2; // 16px
$spacex-spacing-4: $spacex-spacer * 3; // 24px
$spacex-spacing-5: $spacex-spacer * 4; // 32px
$spacex-spacing-6: $spacex-spacer * 5; // 40px
$spacex-spacing-7: $spacex-spacer * 6; // 48px
$spacex-spacing-8: $spacex-spacer * 7; // 56px
$spacex-spacing-9: $spacex-spacer * 8; // 64px
$spacex-spacing-10: $spacex-spacer * 9; // 72px
$spacex-spacing-11: $spacex-spacer * 10; // 80px
$spacex-spacing-12: $spacex-spacer * 11; // 88px
$spacex-spacing-13: $spacex-spacer * 12; // 96px
$spacex-spacing-14: $spacex-spacer * 13; // 104px
$spacex-spacing-15: $spacex-spacer * 14; // 112px
