@import '../../styles/main.scss';
.spacex-shuttle-card {
	background-color: $spacex-color-white;
	@include padding($spacex-spacing-3, $spacex-spacing-3, $spacex-spacing-3, $spacex-spacing-3);
	width: 100%;
	@include margin($spacex-spacing-2);
	@media only screen and (min-width: $spacex-breakpoint-tablet) {
		@include margin(0, $spacex-spacing-2, $spacex-spacing-2, 0);
		width: 48%;
	}
	@media only screen and (min-width: $spacex-breakpoint-x-large) {
		@include margin(0, $spacex-spacing-2, $spacex-spacing-2, 0);
		width: auto;
	}
	border-radius: $spacex-spacing-1;
	&__image {
		background-color: $spacex-background-grey;
	}
	&__name {
		color: $spacex-color-primary-green;
		@include margin($spacex-spacing-3, 0, $spacex-spacing-3, 0);
	}
	&__details {
		@include margin($spacex-spacing-2, 0, $spacex-spacing-3, 0);
	}
}
