@import '../../styles/main.scss';

.spacex-header {
	position: fixed;
	top: 0;
	@include padding($spacex-spacing-4, $spacex-spacing-4, $spacex-spacing-4, $spacex-spacing-4);
	background-color: $spacex-background-grey;
	z-index: 1;
	height: $spacex-spacing-8;
}
