@import '../../styles/main.scss';

.spacex-page-layout {
	box-sizing: border-box;
	@include padding($spacex-spacing-2, $spacex-spacing-2, $spacex-spacing-2, $spacex-spacing-2);
	@media only screen and (min-width: $spacex-breakpoint-x-large) {
		max-width: 1440px;
		margin: 0 auto;
	}
	&__header {
		position: fixed;
		top: 0;
		background-color: $spacex-background-grey;
		z-index: 1;
		height: $spacex-spacing-11;
		@media only screen and (min-width: $spacex-breakpoint-tablet) {
			height: $spacex-spacing-8;
		}
		&--tile {
			@include margin($spacex-spacing-2, 0, $spacex-spacing-2, 0);
		}
	}
	&__footer {
		position: sticky;
		bottom: 0;
		height: $spacex-spacing-5;
		background-color: $spacex-background-grey;
	}
	&__content {
		@include margin($spacex-spacing-11);
		@media only screen and (min-width: $spacex-breakpoint-tablet) {
			@include margin($spacex-spacing-8);
		}
	}
}
