@font-face {
	font-family: 'OpenSansMedium';
	src: url('../../assets/fonts/OpenSans-SemiBold.ttf');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSansBold';
	src: url('../../assets/fonts/OpenSans-Bold.ttf');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSans';
	src: url('../../assets/fonts/OpenSans-Regular.ttf');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSansLight';
	src: url('../../assets/fonts/OpenSans-Light.ttf');
	font-weight: normal;
	font-style: normal;
}
